<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta charset="utf-8"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css"/>
        <style>
            body {
                display: flex;
                min-height: 100vh;
                flex-direction: column;
            }
            main { flex: 1 0 auto; }
            body { background: #fff; }

            .input-field input[type=date]:focus + label,
            .input-field input[type=text]:focus + label,
            .input-field input[type=email]:focus + label,
            .input-field input[type=password]:focus + label {
                color: #e91e63;
            }
            .input-field input[type=date]:focus,
            .input-field input[type=text]:focus,
            .input-field input[type=email]:focus,
            .input-field input[type=password]:focus {
                border-bottom: 2px solid #e91e63;
                box-shadow: none;
            }

            /* label color */
            .input-field label {
                color: #000;
            }
            /* label focus color */
            .input-field input[type=text]:focus + label, .input-field input[type=password]:focus + label {
                color: #ff9800;
            }
            /* label underline focus color */
            .input-field input[type=text]:focus, .input-field input[type=password]:focus {
                border-bottom: 1px solid #ff9800;
                box-shadow: 0 1px 0 0 #ff9800;
            }
            /* valid color */
            .input-field input[type=text].valid, .input-field input[type=password].valid {
                border-bottom: 1px solid #ff9800;
                box-shadow: 0 1px 0 0 #ff9800;
            }
            /* invalid color */
            .input-field input[type=text].invalid, .input-field input[type=password].invalid {
                border-bottom: 1px solid #e65100;
                box-shadow: 0 1px 0 0 #e65100;
            }
            /* icon prefix focus color */
            .input-field .prefix.active {
                color: #ff9800;
            }
            .wallpaper {
                z-index: -999;
                width: 100%;
                height: auto;
                position: fixed;
                top: 0;
                left: 0;
            }
        </style>
        <title>MBN Suite</title>
    </h:head>

   
    <h:body> 
        <style>
            #fondo{    
                width: 100%; ; /* el tamaño de imagen se transforma */
                height: 100%;
                top:0;
                left:0;
                position:fixed;
                z-index: -1;   
            }
        </style>
        <img id="fondo" class="wallpaper" src="resources/imagenes/fondo_cuadros.jpg" width="1200" height="800" alt="fondo_naranja"/>

        <div class="section"></div>
        <main>
            <center>
                <!--h:graphicImage library="imagenes" name="mbnLogo.png"  style="width: 150px;" class="square responsive-img valign" /-->
                <div class="section"></div>

                <!--h5 class="indigo-text">MBN Suite</h5-->
                <div class="section"></div>

                <div class="container">

                    <div class='row'>
                        <div class='col s12'>
                            <h:graphicImage library="imagenes" name="mbnLogo.png"  style="width: 200px;" class="square responsive-img valign" />
                        </div>
                    </div>

                    <div class="z-depth-1 white row" style="display: inline-block; padding: 0px 25px 0px 25px; border: 1px solid #EEE;">

                        <h:form class="col s12" id="loginForm">


                            <div class='row'>
                                <p:messages id="messages" showDetail="true" autoUpdate="true"/>
                            </div>
                            <div class='row'>
                                <div class='input-field col s12'>
                                    <h:inputText value="#{loginMB.userName}" id="user"/>
                                    <label for='user'>Usuario</label>
                                </div>
                            </div>

                            <div class='row'>
                                <div class='input-field col s12'>
                                    <h:inputSecret value="#{loginMB.password}" id="password"/>
                                    <label for='password'>Contraseña</label>
                                </div>
                                <label style='float: right; font-size: 14px;'>
                                    <a class='orange-text' href='#!' ><b>Recuperar contraseña</b></a>
                                </label>
                            </div>

                            <br />
                            <div class='row'>
                                <p:remoteCommand name="rc" actionListener="#{loginMB.iniciarSesion()}" />

                                <p:commandButton class="col s12 m12 l12 btn" style="background: #01579b;" value="Iniciar sesión" action="#{loginMB.iniciarSesion()}"/>
                            </div>
                        </h:form>
                    </div>
                </div>
                <a href="#!" class="btn light-blue darken-4">Crear cuenta</a>
            </center>
        </main>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    </h:body>

</html>