<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/template/template.xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">  

    <ui:define name="body">
        
        <main>
            <div class="container ">
                <style>
                    .ui-datatable-tablewrapper{
                        overflow-x: hidden !important;
                    }
                </style>
                <!--Barra de navejación-->
                <div align="left">
                    <p:outputLabel value="Pagos -> Autorizacion de Pagos" style="font-weight: bold;" />    
                    <p:separator style="width: 100%; height:5px" />
                </div>
                
                 <center><h4>Confirmación de Pagos</h4></center>
                <p:outputLabel value=""/>
                <div>
                    <h:form>
                        <p:dataTable id="tablaAutPagos" var="emp_pagos"  value =""
                                     emptyMessage="No hay autorizacion de Recursos Finacieros" 
                                     reflow="true" rows="10" paginatorPosition="bottom" paginator="true" 
                                     rowIndexVar="numerador" 
                                     style="font-size: small" >


                            <p:column headerText="#{messages['web.app.table.empleado']}">
                                <h:outputText value=""/>
                            </p:column>
                            
                            <p:column filterBy="" 
                                      headerText="#{messages['web.app.table.idEmpleado']}"
                                      filterMatchMode="contains" 
                                      filterStyle="background: #FFFFFF; height:4%">
                                <h:outputText value="" />
                            </p:column>
                            
                            <p:column filterBy="" 
                                      headerText="#{messages['web.app.table.area']}"
                                      filterMatchMode="contains" 
                                      filterStyle="background: #FFFFFF; height:4%">
                                <h:outputText value="" />
                            </p:column>
                            
                            <p:column headerText="#{messages['web.app.table.puesto']}">
                                <h:outputText value="" />
                            </p:column>
                            <p:column headerText="#{messages['web.app.table.monto']}">
                                <h:outputText value="" />
                            </p:column>
                            <p:column headerText="#{messages['web.app.table.periodoPago']}">
                                <h:outputText value="" />
                            </p:column>
                            <p:column headerText="#{messages['web.app.table.estatus']}">
                                <h:outputText value="" />
                            </p:column>
                            
                            <p:column headerText="Acciones" style="text-align:center" >
                                <p:growl id="messages" showDetail="true"/>
                                
                                <p:menuButton icon="#{messages['web.app.icon.desplegar']}" value="">
                                    <p:menuitem value="Aprobar" action="#" 
                                                icon="fa fa-refresh"
                                                update=""/>
                                    <p:menuitem value="Pendiente" action="#" 
                                                icon="fa fa-times"
                                                update=""/>
                                </p:menuButton>          
                            </p:column>
                            
                        </p:dataTable>
                        
                    </h:form>
                </div>
                
            </div> <!-- end container -->     
        </main>

    </ui:define>
</ui:composition>

