<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/template/template.xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
    <ui:define name="body">
         <main>
            <div class="container ">
                <style>
                    .ui-datatable-tablewrapper{
                        overflow-x: hidden !important;
                    }
                </style>
                <!--Barra de navejación-->
                <div align="left">
                    <p:outputLabel value="Nomina -> Desgloce nomina" style="font-weight: bold;" />    
                    <p:separator style="width: 100%; height:5px" />
                </div>

                <center><h4>Desgloce de nomina</h4></center>

                <div>
                   <h:form>
                        <p:dataTable id="desgloceNom" var="sale" value="0"
                                     emptyMessage="No hay autorizacion " 
                                     reflow="true" rows="5" paginatorPosition="bottom" 
                                     rowIndexVar="numerador" 
                                     style="font-size: small" >
                           
                            <p:columnGroup type="header">
                                <p:row>
                                 <!--   <p:column rowspan="3" headerText="Concepto" /> -->
                                    <p:column colspan="6" headerText="Nomina" />
                                </p:row>
                                <p:row>
                                    <p:column colspan="3" headerText="#{messages['web.app.table.persepciones']}" />
                                    <p:column colspan="3" headerText="#{messages['web.app.table.deducciones']}" />
                                </p:row>
                                <p:row>
                                    <p:column headerText="#{messages['web.app.table.clave']}" />
                                    <p:column headerText="#{messages['web.app.table.descripcion']}" />
                                    <p:column headerText="#{messages['web.app.table.importe']}" />
                                    <p:column headerText="#{messages['web.app.table.clave']}" />
                                    <p:column headerText="#{messages['web.app.table.descripcion']}" />
                                    <p:column headerText="#{messages['web.app.table.importe']}" />
                                </p:row>
                            </p:columnGroup>
                            <!-- PERSEPCIONES -->
                           <p:column>
                                <h:outputText value="Sueldo Mensual" />
                            </p:column> 
                            <p:column>
                                <h:outputText value="34%" />
                            </p:column>
                            <p:column>
                                <h:outputText value="$800" />
                            </p:column> 
                            
                            <!--DEDUCCIONES-->
                            <p:column>
                                <h:outputText value="Sueldo Mensual" />
                            </p:column> 
                            <p:column>
                                <h:outputText value="34%" />
                            </p:column>
                            <p:column>
                                <h:outputText value="$300" />
                            </p:column>
                            
                            <!--
                            <p:column>
                                <h:outputText value="146">
                                    <f:convertNumber type="currency" currencySymbol="$" />
                                </h:outputText>
                            </p:column>
                            <p:column>
                                <h:outputText value="456">
                                    <f:convertNumber type="currency" currencySymbol="$" />
                                </h:outputText>
                            </p:column>-->

                            <p:columnGroup type="footer">
                                <p:row>
                                    <p:column colspan="2" style="text-align:right" footerText="#{messages['web.app.table.totalPersepciones']}" />
                                    <p:column>
                                        <h:outputText value="$8,500.00" />
                                    </p:column> 
<!--                                    <p:column footerText="\$pocos" />-->
                                    <p:column colspan="2" style="text-align:right" footerText="#{messages['web.app.table.totalDeducciones']}" />
                                    <p:column filterStyle="background: #FFFFFF;" style="" footerText="\$muchos"> 
                                    </p:column>
                                </p:row>
                              </p:columnGroup>
                            
                               <p:columnGroup type="footer">
                                    <p:row>
                                    <p:column  headerText="Liquidación" />
                                    </p:row>
                                </p:columnGroup>
                            
                            <f:facet name="footer">
                                Buen día
                            </f:facet>
                        </p:dataTable>
                    </h:form>
                </div>
            </div> <!-- Container -->
         </main>
                        
    </ui:define>
</ui:composition>


    

