<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/template/template.xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">   

    <ui:define name="body">
        <main>
            <div class="container ">
                <!--Barra de navejación-->
                <div align="left">
                    <p:outputLabel value="Configuración -> Incidencias" style="font-weight: bold;" />    
                    <p:separator style="width: 100%; height:5px" />
                </div>
                <center><h4>Configuración Incidencias</h4></center>
                <h:form id="confIncidencia">
                    <p:growl id="mensajesDetalleOrden" showDetail="true" sticky="false" />  
                    <div class="ui-g-12 ui-md-6 ui-lg-12">
                        <p:dataTable id="tablaDetalleInicidencia" var="detIncidencia" 
                                     emptyMessage="No existen incidencias" value="" 
                                     reflow="true" rows="5" paginator="true" rowIndexVar="numerador" style="font-size: small" >

                            <f:facet name="header">
                                Incidencias
                                <p:commandButton icon="fa fa-plus" process="@this" 
                                                 style="display:inline; float:right; font-size:x-small;"
                                                 action="#{confIncidenciaMB.dialogoCrearConfig()}"
                                                 update="detalleConfIncidencia">
                                </p:commandButton>
                            </f:facet>

                            <p:column headerText="#{messages['web.app.table.clave']}" >
                                <h:outputText value="" />
                            </p:column>
                            <p:column headerText="#{messages['web.app.table.nombre']}">
                                <h:outputText value="" />
                            </p:column>
                            <p:column headerText="#{messages['web.app.table.tipoIncidencia']}">
                                <h:outputText value="" />
                            </p:column>
                            <p:column headerText="#{messages['web.app.table.perfilIncidencia']}">
                                <h:outputText value="" />
                            </p:column>
                            <p:column headerText="#{messages['web.app.table.estatus']}">
                                <h:outputText value="" />
                            </p:column>

                            <p:column headerText="Acciones" style="text-align:center" >
                                <p:commandButton icon="fa fa-edit" process="@this" 
                                                 action="#{confIncidenciaMB.dialogoEditarConfig()}"
                                                 update="detalleConfIncidencia">
                                </p:commandButton>

                                <p:commandButton icon="fa fa-trash" process="@this" 
                                                 action="#{confIncidenciaMB.dialogoEliminar()}"
                                                 >
                                </p:commandButton>
                                <p:growl id="messages" showDetail="true"/>

                                <p:menuButton value="Options">
                                    <p:menuitem value="Save" action="#{menuView.save}" update="messages" icon="pi pi-save"/>
                                    <p:menuitem value="Update" action="#{menuView.update}" update="messages" icon="pi pi-refresh"/>
                                    <p:menuitem value="Delete" action="#{confIncidenciaMB.dialogoEliminar()}" icon="pi pi-times"/>
                                    
                                </p:menuButton>
                            </p:column>          
                        </p:dataTable>
                    </div>
                </h:form>

                <style>
                    #detalleConfIncidencia {
                        top: 30% !important;
                    }
                </style>                

                <p:dialog id="detalleConfIncidencia" resizable="false" header="Detalle Confriguracion Incidencia" widgetVar="detalleConfIncidencia" modal="true" height="270" width="900">
                    <h:form id="detalleIncidenciaForm">
                        <h:panelGrid columns="2">  
                            <p:column>  
                                <div class="ui-g-12 ui-md-6 ui-lg-4"  >
                                    <p:outputLabel value="Clave "/>
                                    <p:inputText id="ClaveDOC" class="materialize-textarea"  value="" />
                                </div>

                                <div class="ui-g-12 ui-md-6 ui-lg-4"  >
                                    <p:outputLabel value="Nombre "/>
                                    <p:inputText id="NombreDOC" class="materialize-textarea" value=""/>
                                </div>
                            </p:column>
                            <p:column>
                                <div class="ui-g-12 ui-md-6 ui-lg-4"  >
                                    <p:outputLabel value="Tipo "/>

                                    <p:selectOneMenu id="TipoDOC" class="materialize-textarea"  value="" style="width: 90%;">
                                        <f:selectItem itemLabel="Seleccione uno" itemValue="#{null}" noSelectionOption="true" />
                                        <f:selectItem itemLabel="Horas" itemValue="Horas"    />
                                        <f:selectItem itemLabel="Dias" itemValue="Dias"    />
                                        <f:selectItem itemLabel="Actividad" itemValue="Actividad"    />
                                    </p:selectOneMenu>
                                </div>

                                <div class="ui-g-12 ui-md-6 ui-lg-4"  >
                                    <p:outputLabel value="Perfil "/>

                                    <p:selectOneMenu id="PerfilDOC" class="materialize-textarea"  value="" >

                                    </p:selectOneMenu>
                                </div>
                            </p:column>
                            <p:column>
                                <div class="ui-g-12 ui-md-6 ui-lg-4"  >
                                    <p:outputLabel value="Estatus "/>
                                    <p:inputText id="EstatusDOC" class="materialize-textarea"  value="" />
                                </div>

                                <div class="ui-g-12 ui-md-6 ui-lg-4"  >
                                </div>
                            </p:column>

                            <p:column>
                                <div align="right" class="ui-g-12 ui-md-12 ui-lg-4"  >
                                    <p:commandButton icon="fa fa-plus" process="@this" 
                                                     >
                                    </p:commandButton>
                                </div>

                                <div align="right" class="ui-g-12 ui-md-12 ui-lg-4"  >
                                    <p:commandButton icon="fa fa-edit" process="@this" 
                                                     >
                                    </p:commandButton>
                                </div>
                            </p:column>

                        </h:panelGrid>

                    </h:form>
                </p:dialog>

                <style>
                    #eliminarConfIncidencia {
                        top: 30% !important;
                    }
                </style>                

                <p:dialog id="eliminarConfIncidencia" resizable="false" header="Eliminar Configuracion Incidencia" widgetVar="eliminarConfIncidencia" modal="true" height="200" width="350">
                    <h:form id="eliminarIncidenciaForm">
                        <h:panelGrid columns="1">  
                            <p:column>
                                <center><p>Desea Eliminar Configuración Incidencias</p></center>
                            </p:column>
                            <f:facet name="footer">
                                <h:panelGroup style = "display:block; text-align:center">
                                    <p:commandButton value="Si" icon="ui-icon-check" process="@this" 
                                                     >
                                    </p:commandButton>     
                                    <p:commandButton value="No" icon="fa fa-times" process="@this" 
                                                     >
                                    </p:commandButton>        
                                </h:panelGroup>
                            </f:facet>
                        </h:panelGrid>
                    </h:form>
                </p:dialog>
            </div> <!-- end container -->
        </main>

    </ui:define>
</ui:composition>