<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/template/template.xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">   

    <ui:define name="body">

        <main>
            <div class="container ">
                <style>
                    .ui-datatable-tablewrapper{
                        overflow-x: hidden !important;
                    }
                </style>
                <!--Barra de navejación-->
                <div align="left">
                    <p:outputLabel value="Pagos -> Autorizacion de Pagos -> Recursos Humanos" 
                                   style="font-weight: bold;" />    
                    <p:separator style="width: 100%; height:5px" />
                </div>

                <center><h4>Autorizacion de Pagos</h4></center>

                <div>
                    <h:form>
                        <p:dataTable id="tablaAutPagos" var="RhPagos"  value ="#{autopagosMB.todosEmp}"
                                     emptyMessage="No hay autorizacion de Recursos Finacieros" 
                                     reflow="true" rows="5" paginatorPosition="bottom" paginator="true" 
                                     rowIndexVar="numerador" 
                                     style="font-size: small" >

                            <f:facet name="header">
                                .
                                <p:commandButton action ="#{autopagosMB.dialogAprobarTodos()}" icon="fa fa-plus" process="@this" 
                                                 style="display:inline; float:right; font-size:x-small;"
                                                 update="tablaAutPagos,confTodos">
                                </p:commandButton>
                                
                                </f:facet>

                           
                            <p:column headerText="#{messages['web.app.table.empleado']}">
                                <h:outputText value="#{RhPagos.nomcompleto}" />
                            </p:column>
                            <p:column filterBy="#{RhPagos.codempleado}" headerText="#{messages['web.app.table.idEmpleado']}"
                                      filterMatchMode="contains" filterStyle="background: #FFFFFF; height:4%">
                                <h:outputText value="#{RhPagos.codempleado}" />
                            </p:column>
                            <p:column filterBy="#{RhPagos.desnbarea}" headerText="#{messages['web.app.table.area']}"
                                      filterMatchMode="contains" filterStyle="background: #FFFFFF; height:4%">
                                <h:outputText value="#{RhPagos.desnbarea}" />
                            </p:column>
                            <p:column headerText="#{messages['web.app.table.puesto']}">
                                <h:outputText value="#{RhPagos.despuesto}" />
                            </p:column>
                            <p:column headerText="#{messages['web.app.table.monto']}">
                                <h:outputText value="" />
                            </p:column>
                            <p:column headerText="#{messages['web.app.table.periodoPago']}">
                                <h:outputText value="" />
                            </p:column>
                            <p:column headerText="#{messages['web.app.table.estatus']}">
                                <h:outputText value="Aprobado" />
                            </p:column>
                            
                            <p:column headerText="Acciones" style="text-align:center" >
                                <p:growl id="messages" showDetail="true"/>
                                <p:menuButton icon="#{messages['web.app.icon.desplegar']}" value="">
                                    <p:menuitem value="Aprobar" action="#" icon="fa fa-refresh"
                                                update=""/>
                                    <p:menuitem value="Pendiente" action="#}" icon="fa fa-times"
                                                update=""/>
                                </p:menuButton>          
                            </p:column>
                        </p:dataTable>
                    </h:form>
                </div>
              <!-- dialogo para aprobar todos los apgos -->  
                        
              <style>
                    #confTodos {
                        background: #FFFFFF !important;
                        top: 30% !important;
                    }
                    
                    .ui-dialog .ui-dialog-buttonpane{
                        background: #FFFFFF !important;
                    }
                </style> 
                
                <p:confirmDialog id="confTodos" widgetVar="confTodos" header="Aprobar todos los pagos" closable="false"
                                 message="#{messages['web.app.msj.aprobarTodos']}" showEffect="fade" hideEffect="fade">
                    <center>
                        <div align="right">
                        <p:commandButton value="#{messages['web.app.button.cancelar']}" process="@this" 
                                         onclick="PF('confTodos').hide();"/>
                        <p:commandButton value="#{messages['web.app.button.aceptar']}" process="@this"  />
                                          <!--onclick="PF('confTodos').hide();"--> 
                                         
                        </div>
                    </center>
                </p:confirmDialog>

            </div> <!-- end container -->     
        </main>

    </ui:define>
</ui:composition>